.wrapper {
    background-color: #9aea29;
    box-shadow: 0 0 35px 40px #9aea29;
    color: #484848;
    height: 80px;
    overflow: hidden;
    z-index: 10;
    img {
        height: 100px;
    }

    
}